body{

margin:0;

font-family:Arial, Helvetica, sans-serif;

background:#f4f4f4;

}



header{

background:#045fba;

color:white;

text-align:center;

padding:20px;

}


nav{

background:#0881eb;

text-align:center;

padding:15px;

}



nav a{

color:white;

text-decoration:none;

padding:15px;

}



nav a:hover{

background:white;

color:black;

border-radius:5px;
}



section{

padding:30px;

}

.home-flex{

display:flex;

gap:30px;

align-items:center;

}


img{

width:250px;

height:180px;

border-radius:10px;

}


.product-grid{

display:grid;

grid-template-columns:repeat(3, 1fr);

gap:20px;

}

.product-grid div{

background:rgb(125, 193, 224);

padding:20px;

border-radius:10px;

text-align:center;

box-shadow:0px 0px 5px gray;

}

button{

background:#007bff;

color:white;

border:none;

padding:12px 20px;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#004f9e;

}


footer{

background:#045fba;

color:white;

text-align:center;

padding:15px;

}